 *{
padding:0;
margin:0;



}


body{
    background: rgb(13,24,140);
background: linear-gradient(90deg, rgba(13,24,140,1) 30%, rgba(188,0,255,1) 62%);
}
.formulario{
    
}
div{
    display:block;
    text-align: center;
    margin-top: 17rem;
    
} 

form {
    display: inline-block;
    width: 200px;
    text-align: left;
    border: 1px solid #000000;
    padding: 3rem;
    background-color: aliceblue;
    border-radius: 2rem;

    

}

form label {
    display:block;
    font-size: 20px;
}

form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 80%;
}

.botao:hover{  
background: rgb(13,24,140);
background: linear-gradient(90deg, rgba(13,24,140,1) 30%, rgba(188,0,255,1) 62%);
color: aliceblue;
border: 0;

}

.botao{
align-items: center;

}

